
.footerMain {
    color: white;
    background: #762c21;;
    padding: 10px 10%;
}

.footerMain .link {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin: 0 30px;
    border-bottom: solid 1px white;
}

.footerMain ul li {
    margin: 0 30px;
}

.footerMain .copyright {
    display: flex;
    justify-content: space-between;
    padding: 10px 5%;
}

.footerMain .copyright .sm-icon {
    display: flex;

}

.footerMain .copyright .sm-icon li {
    margin: 0 10px;
}

@media(max-width:768px){
  .footerMain {
  padding: 20px 5%;
  text-align: center;

  }

  .footerMain .link {
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
  }

  .footerMain ul li {
    margin: 15px 0;
    font-size: 14px;
    padding: 10px 0px;
  }

  .footerMain .copyright {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footerMain .copyright .sm-icon {
    justify-content: center;
  }
}
